Create Database MERCEDES_BENS and Collection CARS

In [2]:
import pymongo
conn=pymongo.MongoClient("mongodb://localhost:27017/")
db=conn["MERCEDES_BENS"]
cols=db["CARS"]

Create values to insert

In [2]:
values = [
    {"Model": "A-Class", "Year": 2020, "Price": 350000, "Mileage": 12, "Fuel": "Petrol", "Color": "White", "Engine": "1.5", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "B-Class", "Year": 2019, "Price": 370000, "Mileage": 13, "Fuel": "Diesel", "Color": "Black", "Engine": "1.5", "Transmission": "Manual", "Status": "Availabale"},
    {"Model": "C-Class", "Year": 2021, "Price": 450000, "Mileage": 14, "Fuel": "Petrol", "Color": "Blue", "Engine": "2.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "E-Class", "Year": 2018, "Price": 500000, "Mileage": 12, "Fuel": "Hybrid", "Color": "Silver", "Engine": "2.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "S-Class", "Year": 2022, "Price": 700000, "Mileage": 10, "Fuel": "Electric", "Color": "White", "Engine": "3.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "A-Class", "Year": 2017, "Price": 330000, "Mileage": 11, "Fuel": "Diesel", "Color": "Red", "Engine": "1.5", "Transmission": "Manual", "Status": "Availabale"},
    {"Model": "B-Class", "Year": 2020, "Price": 390000, "Mileage": 15, "Fuel": "Petrol", "Color": "Black", "Engine": "1.5", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "C-Class", "Year": 2023, "Price": 600000, "Mileage": 16, "Fuel": "Petrol", "Color": "Grey", "Engine": "2.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "E-Class", "Year": 2016, "Price": 520000, "Mileage": 14, "Fuel": "Diesel", "Color": "White", "Engine": "2.5", "Transmission": "Manual", "Status": "Availabale"},
    {"Model": "S-Class", "Year": 2019, "Price": 750000, "Mileage": 10, "Fuel": "Hybrid", "Color": "Blue", "Engine": "3.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "A-Class", "Year": 2021, "Price": 355000, "Mileage": 13, "Fuel": "Petrol", "Color": "Silver", "Engine": "1.5", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "B-Class", "Year": 2018, "Price": 340000, "Mileage": 12, "Fuel": "Diesel", "Color": "Red", "Engine": "1.5", "Transmission": "Manual", "Status": "Availabale"},
    {"Model": "C-Class", "Year": 2022, "Price": 470000, "Mileage": 14, "Fuel": "Petrol", "Color": "White", "Engine": "2.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "E-Class", "Year": 2017, "Price": 510000, "Mileage": 13, "Fuel": "Hybrid", "Color": "Grey", "Engine": "2.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "S-Class", "Year": 2020, "Price": 680000, "Mileage": 11, "Fuel": "Electric", "Color": "Black", "Engine": "3.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "A-Class", "Year": 2015, "Price": 320000, "Mileage": 10, "Fuel": "Diesel", "Color": "Blue", "Engine": "1.5", "Transmission": "Manual", "Status": "Availabale"},
    {"Model": "B-Class", "Year": 2021, "Price": 400000, "Mileage": 15, "Fuel": "Petrol", "Color": "Silver", "Engine": "1.5", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "C-Class", "Year": 2019, "Price": 460000, "Mileage": 14, "Fuel": "Petrol", "Color": "Red", "Engine": "2.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "E-Class", "Year": 2023, "Price": 530000, "Mileage": 12, "Fuel": "Diesel", "Color": "Black", "Engine": "2.5", "Transmission": "Manual", "Status": "Availabale"},
    {"Model": "S-Class", "Year": 2021, "Price": 720000, "Mileage": 11, "Fuel": "Hybrid", "Color": "White", "Engine": "3.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "A-Class", "Year": 2016, "Price": 340000, "Mileage": 12, "Fuel": "Petrol", "Color": "Blue", "Engine": "1.5", "Transmission": "Manual", "Status": "Availabale"},
    {"Model": "B-Class", "Year": 2022, "Price": 410000, "Mileage": 13, "Fuel": "Diesel", "Color": "White", "Engine": "1.5", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "C-Class", "Year": 2018, "Price": 455000, "Mileage": 14, "Fuel": "Petrol", "Color": "Grey", "Engine": "2.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "E-Class", "Year": 2019, "Price": 515000, "Mileage": 13, "Fuel": "Hybrid", "Color": "Red", "Engine": "2.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "S-Class", "Year": 2023, "Price": 740000, "Mileage": 10, "Fuel": "Electric", "Color": "Silver", "Engine": "3.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "A-Class", "Year": 2020, "Price": 350000, "Mileage": 12, "Fuel": "Petrol", "Color": "White", "Engine": "1.5", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "B-Class", "Year": 2017, "Price": 360000, "Mileage": 11, "Fuel": "Diesel", "Color": "Black", "Engine": "1.5", "Transmission": "Manual", "Status": "Availabale"},
    {"Model": "C-Class", "Year": 2020, "Price": 480000, "Mileage": 15, "Fuel": "Petrol", "Color": "Blue", "Engine": "2.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "E-Class", "Year": 2015, "Price": 500000, "Mileage": 12, "Fuel": "Diesel", "Color": "White", "Engine": "2.0", "Transmission": "Manual", "Status": "Availabale"},
    {"Model": "S-Class", "Year": 2022, "Price": 760000, "Mileage": 11, "Fuel": "Hybrid", "Color": "Red", "Engine": "3.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "A-Class", "Year": 2021, "Price": 345000, "Mileage": 13, "Fuel": "Petrol", "Color": "Grey", "Engine": "1.5", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "B-Class", "Year": 2016, "Price": 375000, "Mileage": 14, "Fuel": "Diesel", "Color": "Blue", "Engine": "1.5", "Transmission": "Manual", "Status": "Availabale"},
    {"Model": "C-Class", "Year": 2021, "Price": 490000, "Mileage": 15, "Fuel": "Petrol", "Color": "Black", "Engine": "2.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "E-Class", "Year": 2020, "Price": 540000, "Mileage": 13, "Fuel": "Hybrid", "Color": "Silver", "Engine": "2.5", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "S-Class", "Year": 2020, "Price": 710000, "Mileage": 10, "Fuel": "Electric", "Color": "White", "Engine": "3.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "A-Class", "Year": 2019, "Price": 335000, "Mileage": 12, "Fuel": "Diesel", "Color": "Red", "Engine": "1.5", "Transmission": "Manual", "Status": "Availabale"},
    {"Model": "B-Class", "Year": 2015, "Price": 380000, "Mileage": 13, "Fuel": "Petrol", "Color": "White", "Engine": "1.5", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "C-Class", "Year": 2017, "Price": 460000, "Mileage": 12, "Fuel": "Petrol", "Color": "Silver", "Engine": "2.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "E-Class", "Year": 2022, "Price": 530000, "Mileage": 14, "Fuel": "Diesel", "Color": "Grey", "Engine": "2.0", "Transmission": "Manual", "Status": "Availabale"},
    {"Model": "S-Class", "Year": 2018, "Price": 730000, "Mileage": 11, "Fuel": "Hybrid", "Color": "Blue", "Engine": "3.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "A-Class", "Year": 2018, "Price": 360000, "Mileage": 13, "Fuel": "Petrol", "Color": "Black", "Engine": "1.5", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "B-Class", "Year": 2019, "Price": 390000, "Mileage": 14, "Fuel": "Diesel", "Color": "Silver", "Engine": "1.5", "Transmission": "Manual", "Status": "Availabale"},
    {"Model": "C-Class", "Year": 2023, "Price": 500000, "Mileage": 15, "Fuel": "Petrol", "Color": "Red", "Engine": "2.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "E-Class", "Year": 2021, "Price": 520000, "Mileage": 13, "Fuel": "Hybrid", "Color": "White", "Engine": "2.5", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "S-Class", "Year": 2017, "Price": 745000, "Mileage": 10, "Fuel": "Electric", "Color": "Grey", "Engine": "3.0", "Transmission": "Auto", "Status": "Availabale"},
    {"Model": "A-Class", "Year": 2022, "Price": 365000, "Mileage": 12, "Fuel": "Petrol", "Color": "Blue", "Engine": "1.5", "Transmission": "Manual", "Status": "Availabale"},
    {"Model": "B-Class", "Year": 2023, "Price": 405000, "Mileage": 13, "Fuel": "Diesel", "Color": "Black", "Engine": "1.5", "Transmission": "Auto", "Status": "Availabale"}
]

Insert the values into the Database

In [3]:
cols.insert_many(values)

InsertManyResult([ObjectId('683572e3aa67874cea7e7f67'), ObjectId('683572e3aa67874cea7e7f68'), ObjectId('683572e3aa67874cea7e7f69'), ObjectId('683572e3aa67874cea7e7f6a'), ObjectId('683572e3aa67874cea7e7f6b'), ObjectId('683572e3aa67874cea7e7f6c'), ObjectId('683572e3aa67874cea7e7f6d'), ObjectId('683572e3aa67874cea7e7f6e'), ObjectId('683572e3aa67874cea7e7f6f'), ObjectId('683572e3aa67874cea7e7f70'), ObjectId('683572e3aa67874cea7e7f71'), ObjectId('683572e3aa67874cea7e7f72'), ObjectId('683572e3aa67874cea7e7f73'), ObjectId('683572e3aa67874cea7e7f74'), ObjectId('683572e3aa67874cea7e7f75'), ObjectId('683572e3aa67874cea7e7f76'), ObjectId('683572e3aa67874cea7e7f77'), ObjectId('683572e3aa67874cea7e7f78'), ObjectId('683572e3aa67874cea7e7f79'), ObjectId('683572e3aa67874cea7e7f7a'), ObjectId('683572e3aa67874cea7e7f7b'), ObjectId('683572e3aa67874cea7e7f7c'), ObjectId('683572e3aa67874cea7e7f7d'), ObjectId('683572e3aa67874cea7e7f7e'), ObjectId('683572e3aa67874cea7e7f7f'), ObjectId('683572e3aa67874cea7e7f80'), ObjectId('683572e3aa67874cea7e7f81'), ObjectId('683572e3aa67874cea7e7f82'), ObjectId('683572e3aa67874cea7e7f83'), ObjectId('683572e3aa67874cea7e7f84'), ObjectId('683572e3aa67874cea7e7f85'), ObjectId('683572e3aa67874cea7e7f86'), ObjectId('683572e3aa67874cea7e7f87'), ObjectId('683572e3aa67874cea7e7f88'), ObjectId('683572e3aa67874cea7e7f89'), ObjectId('683572e3aa67874cea7e7f8a'), ObjectId('683572e3aa67874cea7e7f8b'), ObjectId('683572e3aa67874cea7e7f8c'), ObjectId('683572e3aa67874cea7e7f8d'), ObjectId('683572e3aa67874cea7e7f8e'), ObjectId('683572e3aa67874cea7e7f8f'), ObjectId('683572e3aa67874cea7e7f90'), ObjectId('683572e3aa67874cea7e7f91'), ObjectId('683572e3aa67874cea7e7f92'), ObjectId('683572e3aa67874cea7e7f93'), ObjectId('683572e3aa67874cea7e7f94'), ObjectId('683572e3aa67874cea7e7f95')], acknowledged=True)

Display Cars of Year 2016

In [4]:
var=cols.find({"Year":2016},{"_id":0})
for i in var:
    print(i)

{'Model': 'E-Class', 'Year': 2016, 'Price': 520000, 'Mileage': 14, 'Fuel': 'Diesel', 'Color': 'White', 'Engine': '2.5', 'Transmission': 'Manual', 'Status': 'Availabale'}
{'Model': 'A-Class', 'Year': 2016, 'Price': 340000, 'Mileage': 12, 'Fuel': 'Petrol', 'Color': 'Blue', 'Engine': '1.5', 'Transmission': 'Manual', 'Status': 'Availabale'}
{'Model': 'B-Class', 'Year': 2016, 'Price': 375000, 'Mileage': 14, 'Fuel': 'Diesel', 'Color': 'Blue', 'Engine': '1.5', 'Transmission': 'Manual', 'Status': 'Availabale'}

Display Car Model of Fuel Hybrid

In [5]:
var=cols.find({"Fuel":"Hybrid"},{"_id":0,"Model":1})
for i in var:
    print(i)

{'Model': 'E-Class'}
{'Model': 'S-Class'}
{'Model': 'E-Class'}
{'Model': 'S-Class'}
{'Model': 'E-Class'}
{'Model': 'S-Class'}
{'Model': 'E-Class'}
{'Model': 'S-Class'}
{'Model': 'E-Class'}

Display Cars of Fuel type Petrol and Year 2020

In [ ]:
var=cols.find({"$and":[{"Year":2020},{"Fuel":"Petrol"}]},{"_id":0,"Model":1})
for i in var:
    print(i)

{'Model': 'A-Class'}
{'Model': 'B-Class'}
{'Model': 'A-Class'}
{'Model': 'C-Class'}

Display Cars of color Silver or Transmissin Auto

In [10]:
var=cols.find({"$or":[{"Color":"Silver"},{"Transmission":"Auto"}]},{"_id":0,"Color":1,"Transmission":1})
for i in var:
	print(i)

{'Color': 'White', 'Transmission': 'Auto'}
{'Color': 'Blue', 'Transmission': 'Auto'}
{'Color': 'Silver', 'Transmission': 'Auto'}
{'Color': 'White', 'Transmission': 'Auto'}
{'Color': 'Black', 'Transmission': 'Auto'}
{'Color': 'Grey', 'Transmission': 'Auto'}
{'Color': 'Blue', 'Transmission': 'Auto'}
{'Color': 'Silver', 'Transmission': 'Auto'}
{'Color': 'White', 'Transmission': 'Auto'}
{'Color': 'Grey', 'Transmission': 'Auto'}
{'Color': 'Black', 'Transmission': 'Auto'}
{'Color': 'Silver', 'Transmission': 'Auto'}
{'Color': 'Red', 'Transmission': 'Auto'}
{'Color': 'White', 'Transmission': 'Auto'}
{'Color': 'White', 'Transmission': 'Auto'}
{'Color': 'Grey', 'Transmission': 'Auto'}
{'Color': 'Red', 'Transmission': 'Auto'}
{'Color': 'Silver', 'Transmission': 'Auto'}
{'Color': 'White', 'Transmission': 'Auto'}
{'Color': 'Blue', 'Transmission': 'Auto'}
{'Color': 'Red', 'Transmission': 'Auto'}
{'Color': 'Grey', 'Transmission': 'Auto'}
{'Color': 'Black', 'Transmission': 'Auto'}
{'Color': 'Silver', 'Transmission': 'Auto'}
{'Color': 'White', 'Transmission': 'Auto'}
{'Color': 'White', 'Transmission': 'Auto'}
{'Color': 'Silver', 'Transmission': 'Auto'}
{'Color': 'Blue', 'Transmission': 'Auto'}
{'Color': 'Black', 'Transmission': 'Auto'}
{'Color': 'Silver', 'Transmission': 'Manual'}
{'Color': 'Red', 'Transmission': 'Auto'}
{'Color': 'White', 'Transmission': 'Auto'}
{'Color': 'Grey', 'Transmission': 'Auto'}
{'Color': 'Black', 'Transmission': 'Auto'}

Update Mileage of Cars Hybrid Type to 25

In [12]:
cols.update_many({"Fuel":"Hybrid"},{"$set":{"Mileage":25}})

UpdateResult({'n': 9, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

Display Mileage and Fuel

In [14]:
var=cols.find({},{"_id":0,"_Model":1,"Fuel":1,"Mileage":1})
for i in var:
    print(i)

{'Mileage': 12, 'Fuel': 'Petrol'}
{'Mileage': 13, 'Fuel': 'Diesel'}
{'Mileage': 14, 'Fuel': 'Petrol'}
{'Mileage': 25, 'Fuel': 'Hybrid'}
{'Mileage': 10, 'Fuel': 'Electric'}
{'Mileage': 11, 'Fuel': 'Diesel'}
{'Mileage': 15, 'Fuel': 'Petrol'}
{'Mileage': 16, 'Fuel': 'Petrol'}
{'Mileage': 14, 'Fuel': 'Diesel'}
{'Mileage': 25, 'Fuel': 'Hybrid'}
{'Mileage': 13, 'Fuel': 'Petrol'}
{'Mileage': 12, 'Fuel': 'Diesel'}
{'Mileage': 14, 'Fuel': 'Petrol'}
{'Mileage': 25, 'Fuel': 'Hybrid'}
{'Mileage': 11, 'Fuel': 'Electric'}
{'Mileage': 10, 'Fuel': 'Diesel'}
{'Mileage': 15, 'Fuel': 'Petrol'}
{'Mileage': 14, 'Fuel': 'Petrol'}
{'Mileage': 12, 'Fuel': 'Diesel'}
{'Mileage': 25, 'Fuel': 'Hybrid'}
{'Mileage': 12, 'Fuel': 'Petrol'}
{'Mileage': 13, 'Fuel': 'Diesel'}
{'Mileage': 14, 'Fuel': 'Petrol'}
{'Mileage': 25, 'Fuel': 'Hybrid'}
{'Mileage': 10, 'Fuel': 'Electric'}
{'Mileage': 12, 'Fuel': 'Petrol'}
{'Mileage': 11, 'Fuel': 'Diesel'}
{'Mileage': 15, 'Fuel': 'Petrol'}
{'Mileage': 12, 'Fuel': 'Diesel'}
{'Mileage': 25, 'Fuel': 'Hybrid'}
{'Mileage': 13, 'Fuel': 'Petrol'}
{'Mileage': 14, 'Fuel': 'Diesel'}
{'Mileage': 15, 'Fuel': 'Petrol'}
{'Mileage': 25, 'Fuel': 'Hybrid'}
{'Mileage': 10, 'Fuel': 'Electric'}
{'Mileage': 12, 'Fuel': 'Diesel'}
{'Mileage': 13, 'Fuel': 'Petrol'}
{'Mileage': 12, 'Fuel': 'Petrol'}
{'Mileage': 14, 'Fuel': 'Diesel'}
{'Mileage': 25, 'Fuel': 'Hybrid'}
{'Mileage': 13, 'Fuel': 'Petrol'}
{'Mileage': 14, 'Fuel': 'Diesel'}
{'Mileage': 15, 'Fuel': 'Petrol'}
{'Mileage': 25, 'Fuel': 'Hybrid'}
{'Mileage': 10, 'Fuel': 'Electric'}
{'Mileage': 12, 'Fuel': 'Petrol'}
{'Mileage': 13, 'Fuel': 'Diesel'}

Sort and Display Car details based on Year (Only last 10 required)

In [16]:
var=cols.find({},{"_id":0,"Model":1,"Year":1,"Price":1}).sort({"Year":-1}).limit(10)
for i in var:
    print(i)

{'Model': 'C-Class', 'Year': 2023, 'Price': 600000}
{'Model': 'E-Class', 'Year': 2023, 'Price': 530000}
{'Model': 'B-Class', 'Year': 2023, 'Price': 405000}
{'Model': 'C-Class', 'Year': 2023, 'Price': 500000}
{'Model': 'S-Class', 'Year': 2023, 'Price': 740000}
{'Model': 'C-Class', 'Year': 2022, 'Price': 470000}
{'Model': 'E-Class', 'Year': 2022, 'Price': 530000}
{'Model': 'S-Class', 'Year': 2022, 'Price': 760000}
{'Model': 'A-Class', 'Year': 2022, 'Price': 365000}
{'Model': 'B-Class', 'Year': 2022, 'Price': 410000}

Sort and Display Car details based on Year (Only first  5 required)

In [17]:
var=cols.find({},{"_id":0}).sort({"Year":1}).limit(5)
for i in var:
    print(i)

{'Model': 'B-Class', 'Year': 2015, 'Price': 380000, 'Mileage': 13, 'Fuel': 'Petrol', 'Color': 'White', 'Engine': '1.5', 'Transmission': 'Auto', 'Status': 'Availabale'}
{'Model': 'A-Class', 'Year': 2015, 'Price': 320000, 'Mileage': 10, 'Fuel': 'Diesel', 'Color': 'Blue', 'Engine': '1.5', 'Transmission': 'Manual', 'Status': 'Availabale'}
{'Model': 'E-Class', 'Year': 2015, 'Price': 500000, 'Mileage': 12, 'Fuel': 'Diesel', 'Color': 'White', 'Engine': '2.0', 'Transmission': 'Manual', 'Status': 'Availabale'}
{'Model': 'B-Class', 'Year': 2016, 'Price': 375000, 'Mileage': 14, 'Fuel': 'Diesel', 'Color': 'Blue', 'Engine': '1.5', 'Transmission': 'Manual', 'Status': 'Availabale'}
{'Model': 'A-Class', 'Year': 2016, 'Price': 340000, 'Mileage': 12, 'Fuel': 'Petrol', 'Color': 'Blue', 'Engine': '1.5', 'Transmission': 'Manual', 'Status': 'Availabale'}

Display car details with mileage greater than 20

In [19]:
var=cols.find({"Mileage":{"$gt":20}},{"_id":0,"Model":1,"Mileage":1})
for i in var:
	print(i)

{'Model': 'E-Class', 'Mileage': 25}
{'Model': 'S-Class', 'Mileage': 25}
{'Model': 'E-Class', 'Mileage': 25}
{'Model': 'S-Class', 'Mileage': 25}
{'Model': 'E-Class', 'Mileage': 25}
{'Model': 'S-Class', 'Mileage': 25}
{'Model': 'E-Class', 'Mileage': 25}
{'Model': 'S-Class', 'Mileage': 25}
{'Model': 'E-Class', 'Mileage': 25}

Count and Display car details with mileage less than 15

In [25]:
count=0
var=cols.find({"Mileage":{"$lt":15}},{"_id":0,"Model":1,"Mileage":1})
for i in var:
    count+=1
    print(i)
print("Total number of car having mileage less that 15 are:",count)

{'Model': 'A-Class', 'Mileage': 12}
{'Model': 'B-Class', 'Mileage': 13}
{'Model': 'C-Class', 'Mileage': 14}
{'Model': 'S-Class', 'Mileage': 10}
{'Model': 'A-Class', 'Mileage': 11}
{'Model': 'E-Class', 'Mileage': 14}
{'Model': 'A-Class', 'Mileage': 13}
{'Model': 'B-Class', 'Mileage': 12}
{'Model': 'C-Class', 'Mileage': 14}
{'Model': 'S-Class', 'Mileage': 11}
{'Model': 'A-Class', 'Mileage': 10}
{'Model': 'C-Class', 'Mileage': 14}
{'Model': 'E-Class', 'Mileage': 12}
{'Model': 'A-Class', 'Mileage': 12}
{'Model': 'B-Class', 'Mileage': 13}
{'Model': 'C-Class', 'Mileage': 14}
{'Model': 'S-Class', 'Mileage': 10}
{'Model': 'A-Class', 'Mileage': 12}
{'Model': 'B-Class', 'Mileage': 11}
{'Model': 'E-Class', 'Mileage': 12}
{'Model': 'A-Class', 'Mileage': 13}
{'Model': 'B-Class', 'Mileage': 14}
{'Model': 'S-Class', 'Mileage': 10}
{'Model': 'A-Class', 'Mileage': 12}
{'Model': 'B-Class', 'Mileage': 13}
{'Model': 'C-Class', 'Mileage': 12}
{'Model': 'E-Class', 'Mileage': 14}
{'Model': 'A-Class', 'Mileage': 13}
{'Model': 'B-Class', 'Mileage': 14}
{'Model': 'S-Class', 'Mileage': 10}
{'Model': 'A-Class', 'Mileage': 12}
{'Model': 'B-Class', 'Mileage': 13}
Total number of car having mileage less that 15 are: 32

Single values to Insert

In [ ]:
values2=[{"Model": "V-Class", "Year": 2025, "Price": 750000, "Mileage": 10, "Fuel": "Hybrid", "Color": "Gold", "Engine": "13.0", "Transmission": "Auto", "Status": "Availabale"}]

In [ ]:
cols.insert_one(values2[0])

InsertOneResult(ObjectId('6835957eaa67874cea7e7f96'), acknowledged=True)

Insert GLA Details

In [32]:
cols.insert_one({"Model":"GLA","Year":2024,"Price":800000,"Mileage":9,"Fuel":"Electric","Color":"Black","Engine":"2.0","Transmission":"Auto","Status":"Availabale"})

InsertOneResult(ObjectId('683597beaa67874cea7e7f97'), acknowledged=True)

Display the count of Electric cars

In [33]:
var=cols.count_documents({"Fuel":"Electric"})
print("Total number of cars with Electric fuel type:", var)

Total number of cars with Electric fuel type: 6

To Update the Price of GLA to 900000

In [34]:
cols.update_one({"Model":"GLA"},{"$set":{"Price":900000}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

To set Mileage of Electric cars to range of 350

In [35]:
cols.update_many({"Fuel":"Electric"},{"$set":{"Mileage":350}})

UpdateResult({'n': 6, 'nModified': 6, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

To delete the cars of the year 2015

In [36]:
cols.delete_many({"Year":2015})

DeleteResult({'n': 3, 'ok': 1.0}, acknowledged=True)

To delete Single car details with mileage 10

In [37]:
cols.delete_one({"Mileage":10})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

Display the Car Name Starting with letter A

In [38]:
var=cols.find({"Model":{"$regex":"^A"}},{"_id":0})
for i in var:
    print(i)

{'Model': 'A-Class', 'Year': 2020, 'Price': 350000, 'Mileage': 12, 'Fuel': 'Petrol', 'Color': 'White', 'Engine': '1.5', 'Transmission': 'Auto', 'Status': 'Availabale'}
{'Model': 'A-Class', 'Year': 2017, 'Price': 330000, 'Mileage': 11, 'Fuel': 'Diesel', 'Color': 'Red', 'Engine': '1.5', 'Transmission': 'Manual', 'Status': 'Availabale'}
{'Model': 'A-Class', 'Year': 2021, 'Price': 355000, 'Mileage': 13, 'Fuel': 'Petrol', 'Color': 'Silver', 'Engine': '1.5', 'Transmission': 'Auto', 'Status': 'Availabale'}
{'Model': 'A-Class', 'Year': 2016, 'Price': 340000, 'Mileage': 12, 'Fuel': 'Petrol', 'Color': 'Blue', 'Engine': '1.5', 'Transmission': 'Manual', 'Status': 'Availabale'}
{'Model': 'A-Class', 'Year': 2020, 'Price': 350000, 'Mileage': 12, 'Fuel': 'Petrol', 'Color': 'White', 'Engine': '1.5', 'Transmission': 'Auto', 'Status': 'Availabale'}
{'Model': 'A-Class', 'Year': 2021, 'Price': 345000, 'Mileage': 13, 'Fuel': 'Petrol', 'Color': 'Grey', 'Engine': '1.5', 'Transmission': 'Auto', 'Status': 'Availabale'}
{'Model': 'A-Class', 'Year': 2019, 'Price': 335000, 'Mileage': 12, 'Fuel': 'Diesel', 'Color': 'Red', 'Engine': '1.5', 'Transmission': 'Manual', 'Status': 'Availabale'}
{'Model': 'A-Class', 'Year': 2018, 'Price': 360000, 'Mileage': 13, 'Fuel': 'Petrol', 'Color': 'Black', 'Engine': '1.5', 'Transmission': 'Auto', 'Status': 'Availabale'}
{'Model': 'A-Class', 'Year': 2022, 'Price': 365000, 'Mileage': 12, 'Fuel': 'Petrol', 'Color': 'Blue', 'Engine': '1.5', 'Transmission': 'Manual', 'Status': 'Availabale'}

Display car details with name ending with letter A

In [39]:
var=cols.find({"Model":{"$regex":"A$"}},{"_id":0})
for i in var:
    print(i)

{'Model': 'GLA', 'Year': 2024, 'Price': 900000, 'Mileage': 350, 'Fuel': 'Electric', 'Color': 'Black', 'Engine': '2.0', 'Transmission': 'Auto', 'Status': 'Availabale'}

Increment the price of Electric cars by 10000

In [43]:
cols.update_many({"Fuel":"Electric"},{"$inc":{"Price":10000}})

UpdateResult({'n': 6, 'nModified': 6, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

Count and Display total number of cars in the collection

In [1]:
var=cols.count_documents({})
print("total Number of cars in the collection are :",var)

total Number of cars in the collection are : 45

Count and Display the sum of prices of A-Class and S-Class

In [10]:
sum1=0
var1=cols.find({"Model":"A-Class"},{})
for i in var1:
    sum1+=i["Price"]
print("Total price of all A-Class cars:", sum1)

sum2=0
var2=cols.find({"Model":"S-Class"},{})
for i in var2:
    sum2+=i["Price"]
print("Total price of all S-Class cars:", sum2)

Total price of all A-Class cars: 3130000
Total price of all S-Class cars: 6585000